In [1]:
import pandas as pd

In [2]:
# --------------------------------------------------
# DataFrame 数据处理。
# --------------------------------------------------

In [3]:
CsvFile = "./sh_000422_20050131_20151231.csv"

In [4]:
CsvProject = pd.read_csv(CsvFile, header=0, encoding="gb2312")

In [5]:
df = pd.DataFrame(CsvProject)

In [6]:
# Pandas 重新命名列的三种方法 :

# 第一种方法 : 重新命名指定的列。
# df.rename(columns = {'环湖医院':'开滦医院', '普通医院':'三甲医院'}, inplace = True) 

# 第二种方法 : 修改全部列名。
# df.columns = ['舒畅', '小舒畅', '舒小畅', '舒畅小'] 

# 第三种方法 : 修改列名的一部分。
# df.columns = df.columns.str.replace('环湖医院', '开滦医院')

In [7]:
df.rename(columns = {"日期":"Date",
                     "股票名称":"Name",
                     "名称":"Name",
                     "代码":"Code",
                     "开盘":"Open",
                     "开盘价":"Open",
                     "最高":"High",
                     "最高价":"High",
                     "最低":"Low",
                     "最低价":"Low",
                     "收盘":"Close",
                     "收盘价":"Close",
                     "前收盘":"Pre_Close",
                     "涨跌额":"Rise_Fall_Amt",
                     "涨跌幅":"Rise_Fall_Rate",
                     "涨跌率":"Rise_Fall_Rate",
                     "成交量":"Volume"}, inplace = True)

In [8]:
df.dtypes

Date               object
Name               object
Code               object
Open              float64
High              float64
Low               float64
Close             float64
Pre_Close         float64
Rise_Fall_Amt     float64
Rise_Fall_Rate    float64
换手率               float64
Volume              int64
成交额                 int64
总市值                 int64
流通市值                int64
dtype: object

In [9]:
df

,Date,Name,Code,Open,High,Low,Close,Pre_Close,Rise_Fall_Amt,Rise_Fall_Rate,换手率,Volume,成交额,总市值,流通市值
0,2015-12-31,湖北宜化,'000422,7.93,7.95,7.76,7.77,7.93,-0.16,-0.020177,0.015498,13915200,109318000,6976420000,6976420000
1,2015-12-30,湖北宜化,'000422,7.86,7.93,7.75,7.93,7.84,0.09,0.011480,0.018662,16755900,131567000,7120080000,7120080000
2,2015-12-29,湖北宜化,'000422,7.72,7.85,7.69,7.84,7.71,0.13,0.016861,0.015886,14263800,110789000,7039280000,7039280000
3,2015-12-28,湖北宜化,'000422,8.03,8.08,7.70,7.71,8.03,-0.32,-0.039851,0.030821,27672800,218869000,6922550000,6922550000
4,2015-12-25,湖北宜化,'000422,8.03,8.05,7.93,8.03,7.99,0.04,0.005006,0.021132,18974000,151673000,7209870000,7209870000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2647,2005-02-04,湖北宜化,'000422,6.75,7.05,6.71,7.00,6.75,0.25,0.037037,0.017178,2430800,16818500,1725750000,990538000
2648,2005-02-03,湖北宜化,'000422,7.00,7.15,6.73,6.75,6.90,-0.15,-0.021739,0.028556,4040880,28086200,1664110000,955162000
2649,2005-02-02,湖北宜化,'000422,6.42,6.99,6.42,6.90,6.42,0.48,0.074766,0.032928,4659550,31345900,1701090000,976388000
2650,2005-02-01,湖北宜化,'000422,6.78,6.89,6.30,6.42,6.81,-0.39,-0.057269,0.027348,3869880,25333700,1582760000,908465000
2651,2005-01-31,湖北宜化,'000422,6.78,6.87,6.70,6.81,6.94,-0.13,-0.018732,0.018862,2669130,18135800,1678910000,963652000

In [ ]:
# --------------------------------------------------
# DataFrame 数据修改 (Optional)。
# --------------------------------------------------

In [ ]:
df["Code"] = df["Code"].astype("object")

# %06d 表示在输出一个小于6位数的数值时，将在前面补0使其总宽度为4位。
df["Code"] = df["Code"].apply(lambda x : "%06d" % x)

if "%" in df["Rise_Fall_Rate"][0]:
    df["Rise_Fall_Rate"] = df["Rise_Fall_Rate"].apply(lambda x : x.replace("%", str()))
    df["Rise_Fall_Rate"] = df["Rise_Fall_Rate"].astype("float64")
    df["Rise_Fall_Rate"] = df["Rise_Fall_Rate"] * 0.01

In [10]:
# --------------------------------------------------
# 输出 SQL 文件操作。
# --------------------------------------------------

In [11]:
# 创建一个要写入的 SQL 文件。

SqlFileName = CsvFile.replace(".csv", ".sql")

SqlFile = open(SqlFileName, mode="w", encoding="utf-8")

In [12]:
# 组织 SQL 语句。

DataTableName = CsvFile.replace("./", str()).replace(".csv", str())

for df_date, \
    df_name, \
    df_code, \
    df_open, \
    df_high, \
    df_low, \
    df_close, \
    df_pre_close, \
    df_rise_fall_amt, \
    df_rise_fall_rate, \
    df_volume in \
    zip(df["Date"], \
        df["Name"], \
        df["Code"], \
        df["Open"], \
        df["High"], \
        df["Low"], \
        df["Close"], \
        df["Pre_Close"], \
        df["Rise_Fall_Amt"], \
        df["Rise_Fall_Rate"], \
        df["Volume"]):
    
    DataFieldDate = df_date
    DataFieldName = df_name
    DataFieldCode = df_code.replace("'", str())
    DataFieldOpen = df_open
    DataFieldHigh = df_high
    DataFieldLow = df_low
    DataFieldClose = df_close
    DataFieldPreClose = df_pre_close
    DataFieldRiseFallAmt = df_rise_fall_amt
    DataFieldRiseFallRate = df_rise_fall_rate
    DataFieldVolume = df_volume
    #DataFieldTradingAmount = df_trading_amount

    SqlInsert = ["INSERT INTO ",
                 DataTableName,
                 "(_date, _code, _name, _open, _high, _low, _close, _pre_close, _rise_fall_amt, _rise_fall_rate, _volume) ",
                 "VALUES ",
                 "(",
                 "str_to_date('%s','%%Y-%%m-%%d'), " % DataFieldDate,
                 "'%s', " % DataFieldName,
                 "'%s', " % DataFieldCode,
                 str(DataFieldOpen),", ",
                 str(DataFieldHigh),", ",
                 str(DataFieldLow),", ",
                 str(DataFieldClose),", ",
                 str(DataFieldPreClose),", ",
                 str(DataFieldRiseFallAmt),", ",
                 str(DataFieldRiseFallRate),", ",
                 str(DataFieldVolume),
                 ");"]

    #print(str().join(SqlInsert))
    #break
    
    # 逐行写入 SQL 语句。
    SqlFile.write(str().join(SqlInsert))
    SqlFile.write("\n")

In [13]:
# 写入 SQL 文件完成，关闭文件。

SqlFile.close()